
Credit Card Fraud Detection/datasets/creditcard.csv
Credit Card Fraud Detection\.ipynb_checkpoints
*.ipynb
Car Insurance Cold Calls/data/carInsurance_test.csv
Car Insurance Cold Calls/data/carInsurance_train.csv
